* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px 'Roboto', sans-serif;
    transition: all 0.3s;
}

body
{
    background-color: #F5F5F5;
}

.main-content
{
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.section-resume
{
    min-width: 320px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-resume-header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.section-resume-header-name
{
    font-size: 24px;
    font-weight: bold;
}	

.section-resume-about-me
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-resume-description
{
    font-size: 16px;
    font-weight: normal;
}

.section-resume-contact
{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.section-resume-experiences
{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.section-resume-experiences-card
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    p {
        font-size: 16px;
        font-weight: regular;
    }

    &:hover {
        background-color: black;
        cursor: pointer;
        header, p {
            color: white;
        }
    }
}

.picture
{
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.button-link
{
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: underline black;
    display: inline-block;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 8px;

    &:hover
    {
        background-color: black;
        color: white;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
    }
}

@media (max-width: 768px)
    {
        .main-content
        {
            flex-direction: column;
            align-items: center;
        }

        .section-resume
        {
            width: 100%;
            margin-bottom: 20px;
        }
    }
